@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mona);
  font-weight: 500;
}

.transition3 {
  transition: all 0.3s ease-in-out;
}

.navBg {
  background-color: rgba(34, 34, 34, 0.5);
}

.bgColor {
  background-color: #0a0a0a;
}